# ***Data Types and Structures Questions***



> 1. What are data structures, and why are they important ? >>>> A data structure is a way of organizing, storing, and managing data efficiently to perform operations like searching, sorting, inserting, and deleting data nd they are importrant because improve efficiency , managing large data , enhance code readibility and many more.

> 2.   Explain the difference between mutable and immutable data types with examples ? >>>> mutable data type are that can be modify after a creation and immutable data type are that can not be modify after a creation . EX = list are mutable , string tuple set are immutable.

> 3. What are the main differences between lists and tuples in Python ? >>>> list are mutable and tuples are immutable that is the main reason.

> 4.  Describe how dictionaries store data? >>>> A dictionary store data as a key value pair this will also allow the fast lookups , insertion , deletion .

> 5. Why might you use a set instead of a list in Python ? >>>> A set in Python is an unordered collection of unique elements, where a list is an ordered collection that allows duplicates.

> 6. What is a string in Python, and how is it different from a list ? >>>> A string in Python is an immutable sequence of characters used to store and manipulate text and string is immutable and list is mutable , string contain only characters and list store any type of data type.

> 7. How do tuples ensure data integrity in Python ? >>>> A tuple in Python is an immutable, ordered collection of elements. This immutability ensures data integrity by preventing accidental modification, making tuples ideal for storing fixed, unchangeable data.

> 8. What is a hash table, and how does it relate to dictionaries in Python ? >>>> A hash table is a data structure that stores key-value pairs using a hash function to map keys to unique indices.

> 9. Can lists contain different data types in Python ? >>>> yes list contain any data type in python it can store int , float , boolean any data type in python .

> 10. Explain why strings are immutable in Python ? >>>> In Python, strings are immutable, meaning once a string is created, it cannot be changed. If you modify a string, a new string object is created instead of modifying the existing one. Reasons for String Immutability memory efficiency , hashability and many more .

> 11. What advantages do dictionaries offer over lists for certain tasks ? >>>> Dictionaries and lists are both important data structures in Python, but dictionaries outperform lists in specific scenarios due to their key-value structure and faster lookups.

> 12. Describe a scenario where using a tuple would be preferable over a list >>>> A tuple is preferable over a list when you need immutable, fixed data that should not be modified after creation.

> 13. How do sets handle duplicate values in Python ? >>>> A set in Python is an unordered collection of unique elements. It automatically removes duplicate values, ensuring that each element appears only once.

> 14. How does the “in” keyword work differently for lists and dictionaries ? >>>> The in keyword is used to check for membership in both lists and dictionaries, but it works differently for list python check each element one by one and in dictionaries in keyword check only keys not values.

> 15. Can you modify the elements of a tuple? Explain why or why not >>>> No , tuples are immutable it can not be modify any element after a creation.

> 16. What is a nested dictionary, and give an example of its use case ? >>>> A nested dictionary is a dictionary that contains one or more dictionaries as values. It allows hierarchical data storage, making it useful for representing structured information. EX = #students = {
    "student_1": {
        "name": "Alice",
        "age": 20,
        "grades": {"math": 90, "science": 85}
    },
    "student_2": {
        "name": "Bob",
        "age": 21,
        "grades": {"math": 80, "science": 88}
    }
}

print(students["student_1"]["name"])  # Output: Alice
print(students["student_2"]["grades"]["math"])  # Output: 80

> 17. Describe the time complexity of accessing elements in a dictionary >>>> In Python, dictionaries are implemented using hash tables, which allow for fast key-based lookups.

> 18. In what situations are lists preferred over dictionaries ? >>>> While dictionaries offer fast key-based lookups, lists are preferred in certain situations where ordering, indexing, and sequential operations matter.

> 19. Why are dictionaries considered unordered, and how does that affect data retrieval ? >>>> Dictionaries were considered unordered because they were implemented using hash tables, where elements were stored based on their hash values, not their insertion order.

> 20.  Explain the difference between a list and a dictionary in terms of data retrieval ? >>>> list are accessing by index and dict are accessing by keys , both are ordered sequentially , Use a list when ordering and indexing matter,  Use a dictionary when fast key-based lookups are required.

# ***Practical Questions***

In [2]:
#Write a code to create a string with your name and print it .
my_name = "Lokesh Tiwari"
print(my_name)
type(my_name)

Lokesh Tiwari

str

In [3]:
#Write a code to find the length of the string "Hello World".
string = "Hello World"
print(len(string))

11

In [7]:
#Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[0:3])

Pyt

In [8]:
#Write a code to convert the string "hello" to uppercase.
string = "hello"
print(string.upper())

HELLO

In [9]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple".
string = "I like apple"
string.replace("apple","orange")

'I like orange'

In [11]:
#Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)
type(list)

[1, 2, 3, 4, 5]

list

In [12]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(100)
print(list)

[1, 2, 3, 4, 100]

In [13]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [14]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [15]:
#Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [16]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)
type(tuple)

(100, 200, 300)

tuple

In [17]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple1 = ('red', 'green', 'blue', 'yellow')
print(tuple1[1:])

('green', 'blue', 'yellow')

In [18]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tuple = (10, 20, 5, 15)
min(tuple)

5

In [19]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
tuple.index("cat")

1

In [20]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("mango" , "apple" , "kiwi")
"kiwi" in fruits

True

In [21]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set = {'a', 'b', 'c'}
print(set)

{'b', 'a', 'c'}

In [22]:
sorted(set)

['a', 'b', 'c']

In [24]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set = {1,2,3,4,5}
set.clear()
print(set)

set()

In [25]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [26]:
# Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1,2,3}
s2 = {3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

In [27]:
#Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1,2,3}
s2 = {2,3,4}
s1 & s2

{2, 3}

In [28]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {"name" : "Lokesh" , "age" : 20 , "city" : "deori" }
print(dict)
type(dict)

{'name': 'Lokesh', 'age': 20, 'city': 'deori'}

dict

In [35]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "India"
print(dict)

{'name': 'John', 'age': 25, 'country': 'India'}

In [36]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dict = {'name': 'Alice', 'age': 30}
dict["name"]

'Alice'

In [37]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [39]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
"city" in dict

True

In [43]:
#Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = [1,2,3,4,5,6]
print(lis)
type(lis)

tuple2 = (1,2,3,4,5,6)
print(tuple2)
type(tuple2)

dict = {"name" : "Lokesh" , "age" : 20 , "city" : "deori" }
print(dict)
type(dict)

[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
{'name': 'Lokesh', 'age': 20, 'city': 'deori'}

dict

In [46]:
#Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list = [20,5,45,76,41]
list.sort()
print(list)

[5, 20, 41, 45, 76]

In [47]:
#Write a code to create a list with strings and print the element at the third index.
fruits = ["apple" , "banana" , "mango" , "orange" , "papaya"]
print(fruits[3])

orange

In [49]:
#Write a code to combine two dictionaries into one and print the result.
dict1 = {"name" : "Lokesh" , "age" : 20 , "city" : "deori" }
dict2 = {"name1" : "Tiwari" , "age1" : 18 , "city1" : "sagar" }
dict1.update(dict2)
print(dict1)

{'name': 'Lokesh', 'age': 20, 'city': 'deori', 'name1': 'Tiwari', 'age1': 18, 'city1': 'sagar'}

In [1]:
#Write a code to convert a list of strings into a set.
list = ["Lokesh" , "Tiwari" , "apple" , "milk" , "banana"]
list1 = set(list)
print(list1)

{'Tiwari', 'milk', 'apple', 'banana', 'Lokesh'}